<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tencent.ncnnyolov7"
      android:versionCode="1"
      android:versionName="1.1">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/meal">
        <activity android:name="com.tencent.ncnnyolov7.MainActivity"
                  android:exported="true"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.ncnnyolov7.MenuActivity"
                  android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest> 
